{% extends "base.html.twig" %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="">
                <h4>Modifier l'article {{ movie.name }}</h4>
            </div>
        </div>
        {# {% include "includes/article_form.html.twig" %} #}
    </div>
{% endblock %}