{% extends 'base.html.twig' %}

{% block title %}Vérification{% endblock %}

{% block body %}

    <form class="verifForm" action="{{ fallbackRoute }}" method="post">
        <label for="token">Verification Code</label>
        <input id="token" type="text" name="token"></input>

        <input type="submit" value="Valider" name=""></input>
    </form>

{% endblock %}